In [17]:
connection = sqlite3.connect("pets.db")
cursor = connection.cursor()

In [18]:
cursor.execute("""
    create table if not exists pets (
        id integer primary key autoincrement,
        name text not null,
        type text not null,
        age integer,
        owner text
    )
""")

connection.commit()

In [27]:
name = "dorothy"
cursor.execute("""
    insert 
        into pets(name, type, age, owner) 
        values (?,?,?,?)
    """,(name,"dog",9,"greg"))
connection.commit()

In [28]:
import sqlite3

In [29]:
for name in ["suzy","casey","heidi"]:
    cursor.execute("""
        insert 
            into pets(name, type, age, owner) 
            values (?,?,?,?)
        """,(name,"dog",9,"greg"))
    connection.commit()

In [30]:
for name in ["sandy","muffin","shadow"]:
    cursor.execute("""
        insert 
            into pets(name, type, age, owner) 
            values (?,?,?,?)
        """,(name,"cat",9,"greg"))
    connection.commit()

In [31]:
cursor.execute("""select * from pets where type=?""",("dog",))
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'dorothy', 'dog', 9, 'greg')
(2, 'suzy', 'dog', 9, 'greg')
(3, 'casey', 'dog', 9, 'greg')
(4, 'heidi', 'dog', 9, 'greg')
(8, 'dorothy', 'dog', 9, 'greg')
(9, 'suzy', 'dog', 9, 'greg')
(10, 'casey', 'dog', 9, 'greg')
(11, 'heidi', 'dog', 9, 'greg')
(15, 'dorothy', 'dog', 9, 'greg')
(16, 'suzy', 'dog', 9, 'greg')
(17, 'casey', 'dog', 9, 'greg')
(18, 'heidi', 'dog', 9, 'greg')
(22, 'dorothy', 'dog', 9, 'greg')
(23, 'suzy', 'dog', 9, 'greg')
(24, 'casey', 'dog', 9, 'greg')
(25, 'heidi', 'dog', 9, 'greg')
(29, 'dorothy', 'dog', 9, 'greg')
(30, 'dorothy', 'dog', 9, 'greg')
(31, 'suzy', 'dog', 9, 'greg')
(32, 'casey', 'dog', 9, 'greg')
(33, 'heidi', 'dog', 9, 'greg')

In [32]:
cursor.execute("""
    update pets
    set age = ? 
    where name = ?
    """, (11,"sandy"))
connection.commit()

In [33]:
cursor.execute("""
    delete from pets
    where type = ?
    """, ("cat",))
connection.commit()